{% extends "layout.html" %}

{% block title %}
    Favorites
{% endblock %}

{% block main %}
    <h4>My favorite meals</h4>
    <table class="table table-hover">
        <thead>
            <th>Meal</th>
            <th>Category</th>
            <th></th>
            <th></th>
        </thead>
        <tbody>
            {% for meal in favorites %}
            <tr>
                <td>{{meal['meal']}}</td>
                <td>{{meal['category']}}</td>
                <td>
                    <form action="/search" method="post">
                        <input type="hidden"  name="name" value="{{meal['meal']}}">
                        <input type="image" class="border w-25 h-30 img-responsive rounded-circle" src="{{meal['img']}}" alt="Submit Form" />
                    </form>
                </td>
                <td>
                    <form action="/remove" method="post">
                        <input type="hidden" name="name" value="{{meal['meal']}}">                       
                        <button class="btn btn-outline-danger float-right btn-lg" type="submit">Remove</button>
                    </form>
                    
                </td>
            </tr>
            {% endfor %}
           
        </tbody>
    </table>     
{% endblock %}